<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta content="ie=edge" http-equiv="x-ua-compatible" />
        <title>Spring 5 Web</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 20px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 20px;
                color: #607567;
            }
        </style>
    </head>
</div>