<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/default">
<body>
<div id="page" layout:fragment="content">
    <div class="alert alert-success">
        <h4>Welcome - This is Stage Branch</h4>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-danger" style="padding: 10px;">
                <div class="card-header">Home</div>
                <div class="card-body">
                    <h5 class="card-title">Something about Home</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-danger" style="padding: 10px;">
                <div class="card-header">Author</div>
                <div class="card-body">
                    <h5 class="card-title">Something about Authors</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-danger" style="padding: 10px;">
                <div class="card-header">Books</div>
                <div class="card-body">
                    <h5 class="card-title">Something about Books</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-danger" style="padding: 10px;">
                <div class="card-header">About</div>
                <div class="card-body">
                    <h5 class="card-title">Something about Company</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>